.navbar {
    &-toggler {
        border: none;

        .menu-toggle {
            @extend %position-relative;
            width: 5rem;
            height: 5rem;
            background-color: $ep-primary;
            border-radius: 100%;

            @include make-transition(transform, 1s);

            &:before {
                position: fixed;
                top: -4rem;
                right: -4rem;
                content: '';
                width: 4rem;
                height: 4rem;
                border-radius: 100%;
                background-color: #FFF;
                z-index: -1;
                @include make-transition(transform, .75s);

                @include media-breakpoint-up(lg) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &[aria-expanded='true'] {
            .menu-toggle {
                &:before {
                    transform: scale(100);

                    @include media-breakpoint-up(lg) {
                        transform: translate(-50%, -50%) scale(100);
                    }
                }
            }
        }
    }
}