.accordion {
    &-item {
        &:not(:last-child) {
            border-bottom: solid 1px $ep-light;
        }
    }

    &-body {
        table {
            thead {
                th:empty {
                    padding: 0;
                }
            }

            tbody {
                td {
                    @include media-breakpoint-down(md) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    &-header {
        h4 {
            @extend %mb-0;
            font-weight: 400;

            @include media-breakpoint-down(md) {
                font-size: 1.8rem;
            }
        }
    }

    &--is-focus {
        .accordion {
            &-item {
                &:not(.accordion-item--is-focus) {
                    button {
                        opacity: .15;
                    }
                }
            }
        }
    }
}