%base-button {
    //@extend %ff-poppins;
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 500;
}

%btn-base-padding {
    @extend %text-uppercase;
    padding: .5rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

//
// Base styles
//

.btn {
    @extend %base-button, %btn-base-padding;

    &-container {
        &.text-right [class*="btn-"],
        [class*="btn-"]:not(:last-child) {
            @extend %me-1;
        }

        [class*="btn-"] {
            @extend %mb-1;
        }
    }
}
