.circle-summary {
    @extend %mx-auto;
    width: $circle-base-width;
    height: $circle-base-height;

    .circle-summary {
        &__wrapper {
            @extend %position-relative;
        }

        // &__label {
        //     @extend %text-uppercase, %position-absolute;
        //     display: none;
        //     z-index: 3;
        //     background-color: $white;
        //     padding: .5rem 1.5rem;
        //     font-size: 1.2rem;
        //     font-weight: 600;
        // }

        &__progress,
        &__half {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &__progress {
            clip: rect(0, $circle-base-width, $circle-base-width, $circle-base-width/2);
        }

        &__half {
            @extend %position-absolute;
            border-radius: 50%;
            clip: rect(0, $circle-base-width/2, $circle-base-width, 0);
            border: solid $circle-border-width $circle-border-color-active;
        }

        &__text {
            @extend %position-absolute, %text-center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            p {
                @extend %text-uppercase;
                margin-bottom: 0;
                font-weight: 600;
            }

            h1 {
                @extend %d-flex, %align-items-center;
                line-height: 1;
                font-weight: 900;
                font-size: 10rem;

                small {
                    font-weight: 400;
                    font-size: 4rem;
                    margin-bottom: 1rem;
                }
            }
        }

        &__card {
            @extend %position-absolute;
            background-color: $white;
            padding: 1rem;
            z-index: 3;
            pointer-events: none;

            &:not(.circle-summary__card--show) {
                opacity: 0;
            }

            h3 {
                @extend %text-uppercase;
                font-size: 1.6rem;
            }

            table {
                background-color: $white;
            }

            tbody {
                tr {
                    line-height: 1;

                    td {
                        padding-top: 0;
                        padding-bottom: 0;

                        &:not(:last-child) {
                            border-right: solid 1px transparentize($black, 0.7)
                        }
                    }
                }
            }

            th {
                @extend %text-uppercase;
                font-size: 1.2rem;
                padding: 0
            }

            td {
                font-weight: 600;
            }

            tr {
                vertical-align: middle;

                td {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                &:last-child {

                    th,
                    td {
                        border-bottom-width: 0;
                    }
                }
            }
        }
    }

    @for $i from 1 through length($circle-points) {
        &--#{$i} {
            @include circle-progress($i);
        }
    }
}